global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  # - job_name: 'salesforce'
  #       metrics_path: '/services/apexrest/api/v1/prometheus'
  #       scheme: http
  #       static_configs:
  #         - targets: ['test.secure.force.com']
